.ball{


    height: 50px;
    width: 50px;
    padding: 0;
    display: inline-block;
    background: transparent;
    margin: 20px 5px;
}
.oneBall{
    padding: 0;
    margin: 0;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background: #cacaca;
}